$font-main: 'Noto Sans';
$fonts-family-main: $font-main, sans-serif;

$color-white-10: #fff;
$color-white-smoke-10: #F5F5F5;
$color-white-smoke-20: #F8F8FF;
$color-dark-10: #01002C;
$color-green-10: #00D56A;
