@import "@/assets/style/variables.scss";

.ui-text {
  font-family: $fonts-family-main;
  &_theme_dark {
    color: $color-dark-10;
  }
  &_theme_green {
    color: $color-green-10;
  }
  &_theme_white {
    color: $color-white-10;
  }
}
