
.nav-bar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 98px;
  @media (max-width: 1024px) {
    grid-column-gap: 14px;
  }
  &__block {
    display: grid;
    grid-template-rows: 36px 1fr;
    justify-items: center;
    &-link {
      @media (max-width: 768px) {
        display: none;
      }
    }

    img {
      width: 36px;
      height: 36px;
    }
  }
}
